<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>RNListDemo.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>352AA0A21EEA39DE00BB6550</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>352AA0BB1EEA39DF00BB6550</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>352AA0C61EEA39DF00BB6550</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
